#minidaumMoreLayer .minidaum_list_group1 { width: 160px; padding-left:8px; border:none; }
#minidaumMoreLayer .minidaum_list_group2 { width: 160px; padding-left:8px; }
#minidaumMoreLayer { width: 338px; }
#minidaumMoreLayer .minidaum_list_group { margin-top: 0px; }
